header{
border-bottom: 5px solid red;
background-color: deepskyblue;
height: 100px;
}
@media screen and (max-width:1200px){
header{
    background-color: blueviolet;
}
}
@media screen and (max-width:992px){
    header{
        background-color: rgb(97, 141, 14);
    }
    }
@media screen and (max-width:768px){
        header{
            background-color: rgb(22, 19, 185);
        }
        }
        @media screen and (max-width:576px){
            header{
                background-color: rgb(165, 158, 53);
            }
            }